<? INC Header.tmpl ?>

<form method="post" action="<? VAR ModPath ?>addfilter">
  <? INC _csrf_check.tmpl ?>
  <div class="section">
    Add/delete REGEXes that should be used for filtering in your channels.  There are a couple important points to keep in mind here.
    <ul>
      <li>"Add"ing a RE using a key that is already saved will overwrite
      the old RE without warning.
      <li>We use Python's "re" library, so the RE syntax you use must be
      supported by that library.
      <li>We use the re.match() function, not search.  Your RE doesn't need
      to be anchored, but it must match the entire line (in short, begin
      and end with '.*').
      <li>Any messages which exactly matches the RE for that channel (if
      such exists) will be <b>silently</b> discarded.
    </ul>
  </div>
  <div class="section">
    <h3>Add a Filter</h3>
    <div class="sectionbg">
      <div class="sectionbody">
	<div class="subsection third">
	  <div class="inputlabel">Channel:</div>
	  <input type="text" name="channel" size="64" />
	  <div class="inputlabel" align="right">Nick:</div>
	  <input type="text" name="nick" size="24" />
	</div>

	<div class="subsection full">
	  <div class="inputlabel">Regex:</div>
	  <input type="text" name="regex" size="40" />
	</div>
	<div class="subsection submitline">
	  <input type="submit" name="add" value="Add Filter" />
	</div>
      </div>
    </div>
  </div>
</form>

<? IF !FilterLoop ?>
<p>You have no filters to display.</p>
<? ELSE ?>

<table class="data">
  <thead>
    <tr>
      <td style="width: 10px;"></td>
      <td>Channel</td>
      <td>Nick</td>
      <td>Filter Regex</td>
    </tr>
  </thead>
  <tbody>
    <? LOOP FilterLoop ?>
    <tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
      <td><a href="<? VAR ModPath TOP ?>delfilter?key=<? VAR key ESC=URL,HTML ?>">[Del]</a></td>
      <td><? VAR channel ?></td>
      <td><? VAR nick ?></td>
      <td><? VAR regex ?></td>
    </tr>
    <? ENDLOOP ?>
  </tbody>
</table>
<? VAR FilterLoop ?>
<? ENDIF ?>

<? INC Footer.tmpl ?>
